.product-list-container {
  border-radius: 10px;
  box-shadow: 0px 3px 10px #62657233;
  background: #ffffff;
  padding: 10px;
  width: 500px;
  height: 45em;
  margin-top: 5em;
  vertical-align: top;
}

@media (max-width: 768px) {
  .product-list-container {
    width: 300px;
    height: auto;
  }
}