.App-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  text-align: center;
  flex-wrap: wrap;
  flex: 0 100%;
  color: #ffffff;
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
  }
}